
@media(width <= 1024px) and (width > 768px){
    .header__logo > a {
        font-size: 4vw;
    }

    .header__logo > h2 {
        font-size: 1.7vw;
    }

    .header__links-container > a {
        font-size: 1.6vw;
        margin: 0 1.4vw;
    }

    .header__button > span{
        font-size: 1.7vw;
    }

    .slider {
        margin-top: 5vw;
    }
}


