* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    display: flex;
    margin-bottom: 6vw;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    width: 100%;
}

.header__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo > a {
    font-weight: 800;
    color: #ff9514;
    font-size: 3vw;
    text-decoration: none;
}

.header__logo > a > span {
    color: black;
}

.vertical-line {
    width: 0.1vw;
    height: 2.5vw;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 1vw;
}

.header__logo > h2 {
    font-size: 1.3vw;  
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header__links-container {
    display: flex;
    align-items: center;
}

.header__links-container > a {
    color: #575757;
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 700;
    margin: 0 1.3vw;
}

.header__button {
    text-decoration: none !important;
    margin-right: 0 !important;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border: #ff9514 solid 0.11vw;
    padding: 0.9vw 1.7vw;
    border-radius: 2vw;
    color: #ff9514 !important;
    transition: 0.6s;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    position: relative;
}

.slider__bg-img {
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.slider__title {
    position: absolute;
    color: #fff;
    font-size: 4vw;
    top: 4vw;
    left: 4vw;
    width: 50%;
    line-height: 3.5vw;
    z-index: 20;
}

.slider__subtitle {
    position: absolute;
    color: #fff;
    font-size: 2.3vw;
    font-weight: 700;
    top: 13vw;
    left: 4vw;
}

.slider__button {
    position: absolute;
    top: 17vw;
    left: 4vw;
    padding: 1vw 1.9vw;
    text-decoration: none;
    background-color: #ff9514;
    color: #fff;
    border-radius: 2vw;
    font-size: 1.2vw;
    font-weight: 700;
    transition: 0.4s;
}

.slider__button-next {
    width: 8vw;
    position: absolute;
    bottom: 0.9vw;
    right: 1vw;
    cursor: pointer;
}

.slider__button-prev {
    width: 6vw;
    position: absolute;
    bottom: 1.6vw;
    right: 5vw;
    cursor: pointer;
}


.main {
    width: 100%;
}

.price {
    width: 100%;
    margin-top: 7vw;
}

.price__title {
    font-size: 3.5vw;
    width: 60%;
    line-height: 3.5vw;
    font-weight: 800;
    font-family: Arial;
}

.price__calc-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.calculator {
    margin-top: 2vw;
    width: 31%;

    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.calculator > p {
    color: #575757;
    font-size: 1.3vw;
    margin-bottom: 1.5vw;
}

.calculator__input {
    display: flex;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.07);
    height: 4vw;
    border-radius: 1vw;
    align-items: center;
    padding: 0 2vw;
    justify-content: space-between;
}

.calculator__input > h2,
.calculator__input > h3 {
    font-family: Arial;
    font-size: 1.8vw;
    color: #575757;
    font-weight: 800;
}

.calculator__input > input {
    position: absolute;
    bottom: 0;
    width: calc(100% - 4vw);
}

.calculator__input > input[type=range] {
    -webkit-appearance: none;
    height: 0.15vw;
    background-color: #ff9514;
}

.calculator__input > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ff9514;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 1vw;
}

.price__result-container {
    width: 100%;
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.price__result-summ {
    color: #575757;
    width: 31%;
}

.price__result-summ > p {
    color: #575757;
    font-size: 1.3vw;
    margin-bottom: 0.2vw;
}

.price__result-summ > span {
    font-family: Arial;
    font-size: 3.2vw;
    font-weight: 800;
    display: flex;
}

.price__result-button {
    width: 31%;
    height: 5.2vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9514;
    border-radius: 4vw;
    font-size: 2.5vw;
    font-weight: 800;
    color: #fff;
    transition: 0.4s;
}


