* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    display: flex;
    margin-bottom: 6vw;
    align-items: center;
    flex-direction: column;
    padding: 0.5vw 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.header__nav {
    padding: 0.5vw 4vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #ffffff;
    z-index: 100;
    top: 0;
}



.header__logo {
    display: flex;
    align-items: center;
}

.header__logo > a {
    font-weight: 800;
    color: #ff9514;
    font-size: 3vw;
    text-decoration: none;
}

.header__logo > a > span {
    color: black;
}

.vertical-line {
    width: 0.1vw;
    height: 2.5vw;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 1vw;
}

.header__logo > h2 {
    font-size: 1.3vw;  
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header__links-container {
    display: flex;
    align-items: center;
    position: relative;
}

.header__links-container > a {
    color: #575757;
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 700;
    margin: 0 1.3vw;
}

.drop-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 0.1vw #cecece solid;
    border-radius: 1vw;
    transform: translateY(70%);
    z-index: 150;
    background-color: #fff;
    overflow: hidden;
}
.drop-container_not-active {
    display: none;
}
.drop-container > a {
    padding: 0.7vw 1vw;
    transition: 0.3s;
    text-decoration: none;
    color: black;
}
.drop-container > a:hover {
    background-color: #b8b8b8;
}

.header__button {
    text-decoration: none !important;
    margin-right: 0 !important;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border: #ff9514 solid 0.11vw;
    padding: 0.9vw 1.7vw;
    border-radius: 2vw;
    color: #ff9514 !important;
    transition: 0.6s;
    position: relative;
    overflow: hidden;
}

.main {
    width: 100%;
}

.price {
    width: 100%;
    margin-top: 7vw;
}

.price__title {
    font-size: 3.5vw;
    width: 60%;
    line-height: 3.5vw;
    font-weight: 800;
    font-family: Arial;
}

.price__calc-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.calculator {
    margin-top: 2vw;
    width: 31%;

    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.calculator > p {
    color: #575757;
    font-size: 1.3vw;
    margin-bottom: 1.5vw;
}

.calculator__input {
    display: flex;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.07);
    height: 4vw;
    border-radius: 1vw;
    align-items: center;
    padding: 0 2vw;
    justify-content: space-between;
}

.calculator__input > h2,
.calculator__input > h3 {
    font-family: Arial;
    font-size: 1.8vw;
    color: #575757;
    font-weight: 800;
}

.calculator__input > input {
    position: absolute;
    bottom: 0;
    width: calc(100% - 4vw);
}

.calculator__input > input[type=range] {
    -webkit-appearance: none;
    height: 0.15vw;
    background-color: #ff9514;
}

.calculator__input > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ff9514;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 1vw;
}

.price__result-container {
    width: 100%;
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.price__result-summ {
    color: #575757;
    width: 31%;
}

.price__result-summ > p {
    color: #575757;
    font-size: 1.3vw;
    margin-bottom: 0.2vw;
}

.price__result-summ > span {
    font-family: Arial;
    font-size: 3.2vw;
    font-weight: 800;
    display: flex;
}

.price__result-button {
    width: 31%;
    height: 5.2vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9514;
    border-radius: 4vw;
    font-size: 2.5vw;
    font-weight: 800;
    color: #fff;
    transition: 0.4s;
}


