
.popup {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 150;
}

.popup_not-active {
    display: none;
}

.popup__main {
    width: 100%;
    height: 100%;
    position: relative;
}

.popup__content {
    width: 100%;
    height: 90%;
    bottom: 0;
    position: absolute;
    background-color: #fff;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
    display: flex;
    padding-top: 4vw;
    justify-content: center
}

.popup__form {
    width: 80vw;
}

.popup__close-button {
    width: 5vw;
    height: 5vw;
    background-color: #e0e0e0;
    position: absolute;
    top: 5vw;
    right: 5vw;
    border-radius: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    color: #575757;
    cursor: pointer;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    transition: 0.4s;
}


.popup__form > h1 {
    font-size: 6vw;
    margin-bottom: 1vw;
}

.popup__form > h3 {
    width: 60%;
    font-size: 2vw;
    font-weight: 400;
    color: #575757;
    margin-bottom: 3rem;
}

.popup__input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2vw;
}

.popup__input-container > input {
    width: 45%;
    height: 5vw;
    border-radius: 6vw;
    border: none;
    background-color: rgba(0, 0, 0, 0.08);
    padding-left: 1.5vw;
    font-size: 1.5vw;
    color: #575757;
    font-weight: 600;
    outline: none;
    transition: 0.2s;
}

.popup__container {
    width: 100%;
    height: 8vw;
    border: rgba(0, 0, 0, 0.1) solid 0.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2vw;
    padding: 0 3vw;
}

.popup__container > p {
    font-size: 1.8vw;
    width: 60%;
    color: #9a9a9a;
}

.popup__container > p > span {
    color: #333333;
}

.popup__button {
    width: 20vw;
    height: 4vw;
    background-color: #ff9514;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 2vw;
    border-radius: 10vw;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.social-links {
    width: 100%;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links > a {
    border: #e1e1e1 solid 0.3vw;
    border-radius: 5vw;
    width: 3.5vw;
    height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.7vw;
}
