
.slider {
    width: 100%;
    position: relative;
}

.slider__bg-img {
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.slider__title {
    position: absolute;
    color: #fff;
    font-size: 4vw;
    top: 4vw;
    left: 4vw;
    width: 50%;
    line-height: 3.5vw;
    z-index: 20;
}

.slider__subtitle {
    position: absolute;
    color: #fff;
    font-size: 2.3vw;
    font-weight: 700;
    top: 13vw;
    left: 4vw;
}

.slider__button {
    position: absolute;
    top: 17vw;
    left: 4vw;
    padding: 1vw 1.9vw;
    text-decoration: none;
    background-color: #ff9514;
    color: #fff;
    border-radius: 2vw;
    font-size: 1.2vw;
    font-weight: 700;
    transition: 0.4s;
}

.slider__button-next {
    width: 6vw;
    position: absolute;
    bottom: 1.8vw;
    right: 1vw;
    cursor: pointer;
}

.slider__button-prev {
    width: 6vw;
    position: absolute;
    bottom: 1.6vw;
    right: 5vw;
    cursor: pointer;
}

