
.slider {
    width: 100%;
    height: 35vw;
    background-color: grey;
    display: flex;
    position: relative;
    margin-top: 4vw;
    border-radius: 3vw;
    overflow: hidden;
    justify-content: space-between;
}

.slider__image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider__image > img {
    height: 100%;
    width: auto;
    transform: translateX(-5%);
}

.slider__slide-container {
    width: 50%;
    height: 100%;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__slide {
    width: 80%;
    height: 70%;
}

.slider__slide > h1 {
    font-size: 4vw;
    line-height: 3.3vw;
    color: #fff;
    margin-bottom: 2vw;
}

.slider__slide > h3 {
    font-size: 2.2vw;
    color: #fff;
    margin-bottom: 1.5vw;
}

.slider__slide > a {
    background-color: #ff9514;
    width: 12vw;
    height: 4vw;
    border-radius: 5vw;
    text-decoration: none;
    color: #fff;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__navigation {
    width: 50%;
    height: 100%;
    z-index: 15;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    padding: 3vw;
}

.slider__button-prev,
.slider__button-next {
    width: 3vw;
    height: 3vw;
    overflow: hidden;
    margin: 0.5vw;
    cursor: pointer;
}

.slider__button-prev {
    width: 2vw;
    height: 2vw;
}

.slider__button-prev > img,
.slider__button-next > img {
    width: 100%;
    height: 100%;
}




